<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/barlow/webfont.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/lora/webfont.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
